
<div ng-controller="BuildCtrl" class="buildCards">


	<div class="col-xs-6">
			<h1>Create a Question</h1>
		<div>
				<form>
					<input type="text" ng-model="customBlack.question" placeholder="Enter Question">
					<button ng-click="update(customBlack.question,radiobtn); togglefrontBlack(); togglebackBlack()" class="btn default-btn"> Preview</button>
					<button ng-click="createcustomBlack()" class="btn default-btn" ng-show='customBlack.question; customBlack.blanks'>Submit</button>

				</form>
				<br>
					<section class="newBlackCard">
							<div ng-show="frontBlack">
								<p> {{togglefrontBlack}}</p>
								<h6>Cards Against Humanity</h6>
							</div>
							<div ng-show="backBlack">
								<h4>{{customBlack.question}}</h4>
								<p> {{togglebackBlack}}</p>
								<h6>Cards Against Humanity</h6>
							</div>
					</section>
					<strong style="color: white;">Blank spaces needed to answer question:</strong>
					<br>
				<section class="radio">
					<label class="Radio-inline">
  						<input type="radio" id="inlineRadio1" value="1" ng-model="radiobtn"> 1 </label>
					<label class="Radio-inline">
  						<input type="radio" id="inlineRadio2" value="2" ng-model="radiobtn"> 2 </label>
					<label class="Radio-inline">
  						<input type="radio" id="inlineRadio3" value="3" ng-model="radiobtn"> 3 </label>
  				</section>
		</div>
	</div>


	<div class="col-xs-6">
			<h1 style="width: 300px;">Create an Answer</h1>
		<div>
				<form>
					<input type="text" ng-model="customWhite.answer" placeholder="Enter Answer">
					<button ng-click="create(customWhite.answer); togglefrontWhite(); togglebackWhite()" class="btn default-btn">Preview</button>
					<button ng-click="createcustomWhite()" class="btn default-btn" ng-show='customWhite.answer'>Submit</button>
				</form>
				<br>
					<section class="newWhiteCard">
						<div ng-show="frontWhite">
							<p>{{togglefrontWhite}}</p>
							<h6>Cards Against Humanity</h6>
						</div>
						<div ng-show="backWhite">
							<h4>{{customWhite.answer}}</h4>
							<p>{{togglebackWhite}}</p>
							<h6>Cards Against Humanity</h6>
						</div>
					</section>
		 </div>
	</div>
</div>
<br>
