<!-- <div class='container'>
	<div class="col-xs-6">
		<div class="blackC">
		<p>Cards Against Humanity</p>
		</div>
	</div>

	<div class="col-xs-6">
		<div class="whiteC">
		<p>Game Rules</p>
		</div>
	</div>
</div> -->
<div class="text-center">
	<h1>Cards Against Humanatee</h1>
	<h4><i><strong>a party game for horrible people</strong></i></h4>
	<div class="row text-center">
		<div class='col-sm-offset-2 col-md-offset-4 col-sm-4 col-md-2'>
			<div class='card'>
				<h4 class="card-title">
					<strong>How to get started: </strong><br><br>
					Create a private room to get a unique URL you can share with your friends.
					Once you're all in the room, select the expansions you want to play with and
					start a game!
				</h4>
				<h6>Cards Against Humanity</h6>
			</div>
		</div>
		<div class='col-sm-4 col-md-2'>
			<div class='answer-card'>
				<h4 class="card-title">
					<strong>Game rules: </strong><br><br>
					Each round, one player asks a question from a black card,
					and everyone else answers with their funniest white card.
					Be as competitive or laid back as you want!
				</h4>
				<h6>Cards Against Humanity</h6>
			</div>
		</div>
	</div>

</div>

<br>
<form class="text-center form-group" ng-submit="createRoom()">
	<p class="black"><strong>Start playing by creating your own private room!</strong></p>
	<input class="btn btn-lg default-btn" type="submit" value="Create Private Room">
</form>

<div class="text-center" id="footer">
	made with <i class="fa fa-coffee" aria-hidden="true"></i> && <i class="fa fa-glass" aria-hidden="true"></i> by
	<a target="_blank" rel="noopener" href="https://github.com/cannedyeti">cannedyeti</a>,
	<a target="_blank" rel="noopener" href="https://github.com/dddotcom">dddotcom</a>, and
	<a target="_blank" rel="noopener" href="https://github.com/kellyh6">kellyh6</a>
	/ view on <a target="_blank" rel="noopener" href="https://github.com/dddotcom/cah-angular">github</a>
</div>
