
<div class="text-center">

<h1>My Expansions</h1>


<h2 class="text-center" ng-show="myCards.whiteCards.length > 0">My Answer Cards ({{myCards.whiteCards.length}})</h2>
<div class="row">

    <div class='col-xs-2' ng-repeat="card in myCards.whiteCards track by $index">
        <div class='answer-card'>
          <div ng-show="editingCard === card._id" class="form-group">
            <label for="answer">Answer</label>
            <input type="text" class="form-control" placeholder="..." ng-model="card.answer">
            <button class="btn default-btn" ng-click="editCard(false, card)">Save</button>
          </div>
          <h4>{{card.answer}} </h4>
          <h6>Cards Against Humanity</h6>
        </div>

        <button class="btn default-btn" ng-click="toggleEdit(false, card)">
          <span ng-show="editingCard !== card._id">Edit</span>
          <span ng-show="editingCard === card._id">Nvm</span>
        </button>

        <button class="btn delete-btn" ng-click="deleteCard(false, card._id)"><i class="fa fa-university fa-lg"></i></button>
    </div>
</div>
    <h2 class="text-center" ng-show="myCards.blackCards.length > 0">My Question Cards ({{myCards.blackCards.length}})</h2>
<div class="row">
    <div class='col-xs-2' ng-repeat="card in myCards.blackCards track by $index">
        <div class='card'>
          <div ng-show="editingCard === card._id" class="form-group">
            <label for="question">Question</label>
            <input type="text" class="form-control" placeholder="..." ng-model="card.question">
            <label><strong>Blanks</strong></label>
            <section class="radio">
              <label class="Radio-inline">
                  <input type="radio" id="inlineRadio1" value="1" ng-model="card.blanks"> 1 </label>
              <label class="Radio-inline">
                  <input type="radio" id="inlineRadio2" value="2" ng-model="card.blanks"> 2 </label>
              <label class="Radio-inline">
                  <input type="radio" id="inlineRadio3" value="3" ng-model="card.blanks"> 3 </label>
              </section>
            <button class="btn default-btn" ng-click="editCard(true, card)">Save</button>
          </div>
          <h4>{{card.question}} </h4>
          <h6>Cards Against Humanity</h6>
        </div>
        <button class="btn default-btn" ng-click="toggleEdit(true, card)">
          <span ng-show="editingCard !== card._id">Edit</span>
          <span ng-show="editingCard === card._id">Nvm</span>
        </button>

        <button class="btn delete-btn" ng-click="deleteCard(true, card._id)"><i class="fa fa-university fa-lg"></i></button>
    </div>
</div>
