body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-image: url("../img/wood-bg.jpg");*/
  /*background-size: cover;*/
  background-color: #bbc3c6;
}

.radio {
  margin-top: 0px;
}

.chat {
  background-color: rgba(0,0,0,.8);
  color: white;
  position: fixed;
  top: 0px;
  right: 0;
  height: 100vh;
}
.chat .marker {
  margin-top: 10px;
}

.chat .col-xs-12 {
  padding-left: 5px;
  padding-right: 5px;
}

.drawPile {
  margin-left: 10px;
}

.chatbox {
  color: #1e1e20;
  overflow: scroll;
  height: 70vh;
}

.alertMessage {
  color: #962715;
}

.white, .whiteC {
  color:white;
}

.navbar {
  background-color: #962715;
  border: none;
}

.nickname-input {
  padding: 4px;
  border-radius: 4px;
}

.nickname {
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 0px #000000;
}

header {
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  margin-bottom: 1.618rem;
}

header.navbar {
  border-radius: 0;
}

h1 {
  font-weight: bold;
  letter-spacing: -2px;
}

h1:after,
h2 {
  font-weight: bold;
  letter-spacing: -2px;
}

.card h6:after,
.answer-card h6:after {
  content: "™";
  font-size: 1em;
  vertical-align: super;
  margin-left: 0.192em;
}

.card, .newBlackCard, .blackC {
  color: white;
  background: #1e1e20;
}

.answer-card, .newWhiteCard, .whiteC {
  background: white;
  color: #1e1e20;
  width: 100%;
}

.card-back h4{
  font-size: 2em;
  line-height: 1.2em;
}

.card-back h3 {
  margin-top: 30px;
  text-align: center;
  display: none;
}

.card-back:hover h3{
  display: inline;
}

.card,
.answer-card, .card-back, .newBlackCard, .newWhiteCard {
  width: 210px;
  height: 280px;
  border: 1px solid #1e1e20;
  border-radius: 15px;
  padding: 1rem;
  position: relative;
  margin-bottom: 10px;
}

.card h6:after,
.answer-card h6:after {
  font-size: 60%;
  margin-left: 1px;
}

.card-back {
  text-align: left;
  vertical-align: top;
}

.row {
  margin: 0;
}

.selected {
  border: 1px red solid;
  color: red;
}

footer {
  text-align: center;
  margin-top: 2em;
  color: silver;
  font-size: 0.6em;
}
footer .heart {
  color:#cf2e31;
}

.jumbotron {
  padding-top: 10px;
}

.newBlackCard, .newWhiteCard,{
  height: 300px;
  width: 400px;
}


.blackC, .whiteC{
  text-align: center;
  height: 600px;
  width: 450px;
  font-size: 90px;
  border-radius: 10%;
}

.whiteC p{
  font-size: 20px;
}

.card h6,
.answer-card h6, {
  font-size: 0.6em;
  margin-top: 1.618em;
  opacity: 0.2;
  left: 1rem;
}

h6 {
  font-size: 10px;
  bottom: 10px;
  position: absolute;
}


.page-title {
  font-size: 40px;
}

.deck-container {
  width: 95%;
  margin: 0 auto;
}
#navBtn li a{
  color: #ffffff;
}

.default-btn {
  color: #962715;
  background-color: #bbc3c6;
  border-color: #962715;
  border-radius: 10px;
}
.default-btn:hover {
  color: #bbc3c6;
  background-color: #962715;
  border-color: #962715;
}

.well-btn {
  color: #962715;
  background-color: rgb(237, 237, 237);
  border-color: #962715;
  border-radius: 10px;
}
.well-btn:hover {
  color: rgb(237, 237, 237);
  background-color: #962715;
  border-color: #962715;
}

.winner-btn {
  display: block;
  margin: 5px auto;
  height: 70px;
  width: 150px;
  font-size: 20px;
}

.singleMessage {
  background-color: #d1b280;
  padding: 5px;
  border-radius: 5px;
  color: #1e1e20;
  margin-bottom: 7px;
}

.checkBox {
  margin: 10px;
  font-weight: 2px;
}

.arrow {
  text-align: center;
}
.arrow i {
  font-size: 80px;
}



/*TEST*/

